.imgSize {
  height: 70px;
  width: auto;
}
.imagesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.ctaHeaderWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.albumWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.ctaWrapper {
  display: flex;
  gap: 1rem;
}
.checkboxLabel {
  padding: 10px;
  display: block;
  input {
    display: block;
    margin: auto;
  }
}
.checkboxLabel:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.selected {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0.5;
}
.addImageHidden {
  display: none;
}
.addImageVisible {
  display: block;
}
.smallSection {
  width: 500px;
  margin: auto;
}
