.radioButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    font-weight: bold;
    display: inline-block;
  }
  input {
    margin-right: 5px;
  }
  label {
    span {
      font-size: 16px;
      white-space: nowrap;
    }
  }
  button {
    width: 200px;
    margin: auto;
  }
}
.formWrapper {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  gap: 1rem;
  label {
    display: flex;
  }
  input,
  button {
    max-width: 300px;
  }
}

.radioButton {
  p {
    margin-left: 5px;
    font-size: 14px;
  }
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  button {
    align-self: start;
  }
}
