.footer {
  width: 100%;
  height: fit-content;
  bottom: 0;
  background-color: var(--header-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  color: var(--text-color-secondary);
  flex-wrap: wrap;
  gap: 3rem;
  p {
    font-size: 16px;
    a:hover {
      color: var(--link-hover-color);
    }
  }
}
