.contentWrapper {
  display: flex;
}

.coursesWrapper {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  button {
    background-color: var(--button-CTA-background);
    margin-top: auto;
    align-self: stretch;
    text-align: center;
    &:hover {
      background-color: var(--button-CTA-background-hover);
    }
  }
}
.course {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  padding: 1rem;
  gap: 1rem;
  margin: auto;
  width: 450px;
  height: 250px;
  min-height: fit-content;
  h3 {
    color: var(--heading-color);
    text-align: center;
  }
}
.img {
  margin: auto;
  border-radius: 3px;
}
.sectionWrapper {
  h2 {
    text-align: center;
  }
  background-color: var(--section-background-1);
}
