.contentWrapper {
  display: flex;
  max-width: var(--max-width);
  margin: auto;
}

.coursesWrapper {
  /* display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: baseline; flex-wrap: wrap; */
  display: grid;

  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

  width: 90%;
  margin: auto;

  align-items: center;
  button {
    background-color: var(--button-CTA-background);
    margin-top: auto;
    align-self: stretch;
    text-align: center;
    &:hover {
      background-color: var(--button-CTA-background-hover);
    }
  }
}

.sectionWrapper {
  h2 {
    text-align: center;
  }
  background-color: var(--section-background-1);
}
.closeModal {
  margin-left: auto;
}
@media (max-width: 500px) {
  .coursesWrapper {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media (max-width: 400px) {
  .coursesWrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }
}
